<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BlueBerry Muffins</title>

    <link rel="stylesheet" th:href="@{/style.css}"/>

    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/client.js}"></script>
</head>
<body>
<div th:each="user : ${everyone}">
    <p th:text="${user.name} + ' : ' + ${user.userName}"></p>
</div>
<button id="gotoHome">Home Page</button>
</body>
</html>