<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BlueBerry Muffins</title>

    <link rel="stylesheet" th:href="@{/style.css}"/>

    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/client.js}"></script>
</head>
<body>
<h1>People Finder</h1>
<form>
    <input type="text" id="personSearch" placeholder="Enter a Name"/>
</form>

<button id="gotoPerson">Person Page</button>
<button id="gotoEveryone">Everyone Page</button>
</body>
</html>